---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
---

<BaseLayout title="About | Mayke Jaspers">
    <Navigation />
    <main class="about-main">
        <h1>
            ABOUT <span class="accent">ME</span>
        </h1>
        <p class="about-blurb">I am a creative...</p>
        <h2 class="skills-heading">Skills</h2>
        <ul class="skills-list">
            <li>HTML & CSS</li>
            <li>JavaScript</li>
            <li>Astro</li>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>Blender</li>
            <li>After Effects</li>
            <li>Figma</li>
            <li>Premiere Pro</li>
        </ul>
    </main>
</BaseLayout>
