---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
if (!post) throw new Error("Blog post not found");
---

<BaseLayout title={post.data.title + " | Blog"}>
    <Navigation />
    <main class="blog-detail">
        <h1>{post.data.title}</h1>
        {
            post.data.tags && (
                <div class="blog-tags">
                    {post.data.tags.map((tag) => (
                        <span class="blog-tag">{tag}</span>
                    ))}
                </div>
            )
        }
        {
            post.data.image && (
                <img
                    src={post.data.image}
                    alt={post.data.title}
                    class="project-detail-img"
                />
            )
        }
        <div class="blog-detail-body">{await post.render()}</div>
    </main>
</BaseLayout>
