---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects | Mayke Jaspers">
    <Navigation />
    <main class="projects-main">
        <h1>My Projects</h1>
        <ul class="project-list">
            {
                projects.map((p: CollectionEntry<"projects">) => (
                    <li>
                        <a href={`/projects/${p.slug}`}>{p.data.title}</a>
                        <div class="desc">{p.data.description}</div>
                    </li>
                ))
            }
        </ul>
    </main>
</BaseLayout>
