---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<BaseLayout title="Blog | Mayke Jaspers">
    <Navigation />
    <main class="blog-main">
        <h1>Blog</h1>
        <ul class="blog-list">
            {
                blogPosts.map((post) => (
                    <li>
                        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                        <div class="desc">{post.data.description}</div>
                    </li>
                ))
            }
        </ul>
    </main>
</BaseLayout>
