---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
---

<BaseLayout title="About | Mayke Jaspers">
    <Navigation />
    <main class="about-main creative-layout">
        <section class="about-feature">
            <div class="about-hero-text">
                <h1>
                    About<br /><span class="accent">me</span>
                </h1>
                <p class="about-desc">
                    Hi, I'm Mayke Jaspers, a 22 year old web designer and
                    developer born and raised in Merksem, Antwerp, Belgium. I
                    hold a degree in Web Design and Development from Howest,
                    where I learned to combine technical skills with creative
                    thinking.
                    <br /><br />
                    I'm passionate about art and design always searching for new
                    ways to express ideas through digital projects. Outside of coding,
                    you'll find me exploring the city by bike, sketching, or discovering
                    design inspiration in everyday life. I love pushing boundaries
                    and turning creative concepts into interactive experiences.

                    <span class="about-mini"
                        >web design • creative coding • illustration • Video</span
                    >
                </p>
            </div>
            <div class="about-hero-imgblock">
                <div class="about-imgbox">
                    <img
                        src="src/images/profile.jpeg"
                        alt="Portrait of Mayke Jaspers"
                        class="about-img-main"
                    />
                    <span class="about-signature">Mayke Jaspers</span>
                </div>
            </div>
        </section>
    </main>
</BaseLayout>
