---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
---

<BaseLayout title="Blog | Mayke Jaspers">
    <Navigation />
    <main>
        <h1>Blog</h1>
        <p>This is the blog page. Blog posts will appear here.</p>
    </main>
</BaseLayout>
