---
const currentPath = Astro.url.pathname;
---

<nav class="nav">
    <a class="logo" href="/portfolio/">PORTFOLIO</a>

    <button
        class="nav-toggle"
        aria-label="Open menu"
        onclick="document.querySelector('.nav-links').classList.toggle('open'); this.classList.toggle('active')"
    >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>

    <div class="nav-links">
        <ul>
            <!-- HOME -->
            <li>
                <a
                    href="/portfolio/"
                    class={currentPath === "/portfolio/" ? "active" : ""}
                >
                    Home
                </a>
            </li>

            <!-- ABOUT -->
            <li>
                <a
                    href="/portfolio/about"
                    class={currentPath.startsWith("/portfolio/about")
                        ? "active"
                        : ""}
                >
                    About
                </a>
            </li>

            <!-- PROJECTS -->
            <li>
                <a
                    href="/portfolio/projects"
                    class={currentPath.startsWith("/portfolio/projects")
                        ? "active"
                        : ""}
                >
                    Projects
                </a>
            </li>

            <li>
                <a
                    href="/portfolio/blog"
                    class={currentPath.startsWith("/portfolio/blog")
                        ? "active"
                        : ""}
                >
                    Blog
                </a>
            </li>
        </ul>
    </div>
</nav>
