---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getEntryBySlug, getCollection } from "astro:content";
export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
if (!project) throw new Error("Project not found");
---

<BaseLayout title={project.data.title + " | Mayke Jaspers"}>
    <Navigation />
    <main class="project-detail">
        <h2>{project.data.title}</h2>
        <img
            src={project.data.image}
            alt={project.data.title}
            class="project-detail-img"
        />
        <div class="project-detail-body">
            {await project.render()}
        </div>
    </main>
</BaseLayout>
